{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block menubuttons %}
<ul class="nav navbar-nav ml-auto">
    <li><button id="flt-np" class="btn btn-sm btn-info" type="button" style="margin-left: 5px" data-toggle="tooltip" title="Показать/Скрыть заказы в работе">Не производятся</button></li>
    <li><button id="flt-ready" class="btn btn-sm btn-success" type="button" style="margin-left: 5px" data-toggle="tooltip" title="Показать/Скрыть готовые заказы"
        v-bind:class="{ active: showMobileMenu }"
        v-on:click="showMobileMenu = !showMobileMenu"
        >Готовые</button></li>
    <li><button id="flt-overdue" class="btn btn-sm btn-danger" type="button" style="margin-left: 5px" data-toggle="tooltip" title="Показать/Скрыть заказы, у которых прошел срок отгрузки">Просроченные</button></li>
    <li><button id="flt-tendays" class="btn btn-sm btn-warning" type="button" style="margin-left: 5px" data-toggle="tooltip" title="Показать/Скрыть заказы до отгрузки которых осталось меньше 10 дней">Остальсь 10 дней</button></li>
    <li><button id="flt-inwork" class="btn btn-sm btn-primary" type="button" style="margin-left: 5px" data-toggle="tooltip" title="Показать/Скрыть заказы в работе">В работе</button></li>
</ul>
{% endblock %}
{% block content %}
{% include  'status.html' %}
<h2>Оперативный производственный график</h2>
<div class="container-fluid">
    <div class="lines">{% for order in orders %}
    <div class="tblrow status cls-{{order.firstofficenote.num}}">{% if order.ready %}<b><a href="#" class="text-success">100%</a></b>{% elif order.get_status < 0 %}<b><a href="#" class="text-danger">{{order.get_status}}</a></b>{% elif order.get_status < 10 %}<b><a href="#" class="text-warning">{{order.get_status}}</a></b>{% elif order.get_status > 10 %}<b><a href="#" class="text-primary">{{order.get_status}}</a></b>{% else %}<b><a href="#" class="text-info">Н.П.</a></b>{% endif %}</div>
    <div class="tblrow date cls-{{order.firstofficenote.num}}">{% if order.get_shipmen %}{{order.get_shipmen}}{% endif %}</div>
    <div class="tblrow customer cls-{{order.firstofficenote.num}}">{% if order.firstofficenote.oncustomer.name %}{{order.firstofficenote.oncustomer.name}}{% endif %}</div>
    <div class="tblrow ordername cls-{{order.firstofficenote.num}}"><a href="{{order.get_absolute_url}}" >{{order.product|capfirst}}</a></div>
    <div class="tblrow quantity cls-{{order.firstofficenote.num}}">{% if order.quantity %}{{order.quantity|floatformat}}шт.{% endif %}</div>
    <div class="tblrow ordernum cls-{{order.firstofficenote.num}}">{% if order.ordernum %}<a href="#">{{order.ordernum}}</a>{% endif %}</div>
    <div class="tblrow officenote cls-{{order.firstofficenote.num}}">{% if order.firstofficenote.num != None %}<a href="{{order.firstofficenote.get_absolute_url}}" class="text-info">{{order.firstofficenote.num}}</a>{% endif %}{% for otherofficenote in order.otherofficenote.all  %}, <a href="{{otherofficenote.get_absolute_url}}" class="text-info">{{otherofficenote.num}}</a>{% endfor %}</div>
    {% endfor %}</div>
</div>
<div class="line"></div>
{% include  'footer.html' %}
{% endblock %}