{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}

{% block content %}
<!-- <h2>Краткая сводка по производству</h2>
<ul>
    <li>Служебных записок: {{len_notes}}</li>
    <li>Заказов: {{len_orders}}</li>
    <li>Готовых заказов: {{len_ready_orders}}</li>
</ul> -->
<h2>Краткая сводка</h2>
<div class="container-fluid">
<div class="row">
  <div class="card col-4">
    <div class="card-body">
      <h4 class="card-title">Сводка по заказам</h4>
      <div class="row">
        <div class=""> <!--  style="background-color: aquamarine; width: 160px; height: 160px;" -->
          <span class="peity-donut" data-peity='{ "fill": ["#007bff","#ffc107","#dc3545"], "height": 150, "width": 150 }'>{{len_max_ten}},{{len_min_ten}},{{len_pros}}</span>
        </div>
        <div class="col">
          <ul class="card-ul">
            <li>Заказы в работе: <a href="#" class="badge badge-primary">{{len_max_ten}}</a></li>
            <li>Осталось меньше 10 дней: <a href="#" class="badge badge-warning">{{len_min_ten}}</a></li>
            <li>Просроченные заказы: <a href="#" class="badge badge-danger">{{len_pros}}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="card col-6">
      <div class="card-body">
        <h4 class="card-title">Последний лог</h4>
        <div class="row">
          <div class="col">
            <p>
              {{ last_log.log_text|linebreaksbr }}
            </p>
          </div>
        </div>
      </div>
    </div>

</div>
</div>

{% endblock %}