{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}

{% block content %}
<!-- <h2>Краткая сводка по производству</h2>
<ul>
    <li>Служебных записок: {{len_notes}}</li>
    <li>Заказов: {{len_orders}}</li>
    <li>Готовых заказов: {{len_ready_orders}}</li>
</ul> -->
<h2>Краткая сводка</h2>
<div class="container-fluid">
<div class="row">
  <div class="card col-4">
    <div class="card-body">
      <h4 class="card-title">Сводка по заказам</h4>
      <div class="row">
        <div class="col" style="background-color: aquamarine; width: 200px">1</div>
        <div class="col">2</div>
      </div>
    </div>
  </div>

</div>
</div>

{% endblock %}